.bell {
  /* border-radius: 100px; */
  background: rgba(255, 255, 255, 0.12);
}

.information_box {
  border-radius: var(--Height-And-Sizes-12, 12px);
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.invite_host {
  border-radius: 20px;
  background: linear-gradient(180deg, #ffa95c 0%, #ff2c36 100%);
}
.button_invite {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(2px);
}

.host_list_box {
  border-radius: var(--Height-And-Sizes-12, 12px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}

.level_badge {
  border-radius: 9px;
  border: 0.75px solid #a1beff;
  background: #77a1ff;
}
